.hero{
    position: relative;
    background-color: #001d33;
    padding: 1em;
    left: 0;
    height: auto;
    z-index: 999;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

.contato{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contato span{
    color: white;
}

.hero img{
    margin: 0.2em;
}

.hero h1, .hero h3{
    text-align: center;
    color: #ffffff!important;
}

.lista_hero{
    
}

.lista_hero li{
    color: white;
    list-style: "->";    
    
}

.email{
    word-break: break-all;
}
