.nav{
    background-color: rgb(132, 183, 241) !important;
}
.nav a{
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: ui-sans-serif;
    font-size: 14pt;
    scroll-behavior: smooth;
}

.nav a:hover{
    color: rgba(250, 177, 42, 0.966);
}

.foto_perfil{
    border-radius: 3rem;
}

.lista_idiomas{
    padding: 1em 0 0 0;
}


.bandeira{
    width: 40px;
    height: 40px;
}

