.nav{
    background-color: #073568!important;
}
.nav a{
    color: rgb(255 254 254);
    font-weight: 700;
    font-family: ui-sans-serif;
    font-size: 14pt;
    scroll-behavior: smooth;
}


.nav a:hover {
    box-shadow: 0 0 5px #6f6f6f;
    color: #ffb733;
  }

.foto_perfil{
    border-radius: 3rem;
}

.lista_idiomas{
    padding: 1em 0 0 0;
}


.bandeira{
    width: 40px;
    height: 40px;
}

